<!DOCTYPE html>
<html>
	<head>
	<title>Numeric Conversions</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	</head>
	<body>
		<center>
			<h2>Numeric Conversions</h2>
			<p>Type any number and get phrase of that number </p>
			<form name="form" method="POST" id="convertForm">
				<input type="text" name="number" value="" placeholder="type a number"/>
				<br/><br/>
				<input type="submit" value="Save"/>
			</form>
			<hr style="width: 50%"/>
			<h4 id="converted_number" style="visibility: hidden;"></h4>
		</center>

		<script>
		$(document).ready(function() {
		    $('#convertForm').on('submit', (e) => {
		        e.preventDefault()
		        $.ajax({
		            url: '/convert',
		            type: 'POST',
		            data: {
		                "number": e.target.number.value
		            },
		            dataType: 'json',
		            success: data => appendNumber(data),
		            error: data => appendNumber(data, true)
		        })
		    })

		    function appendNumber(data, error = null) {
		        let convertField = $('#converted_number')
		        if (error) {
		            convertField.text(data.responseJSON.response)
		            convertField.css('color', 'red')
		        } else {
		            convertField.text(data.response)
		            convertField.css('color', 'black')
		        }

		        convertField.css('visibility', 'visible')
		    }
		})
		</script>
	</body>
</html>